<div class="col-md-11">
    <div>
        <div class="templateTwo-wrapper">
            <div class="templateTwo-inner">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="module-box translatable">
                            <p class="title">{{'SFMS.fire' | translate}}</p>
                            <img class="img-rounded" src="../../../../../assets/images/sfms/fire.png" alt="">
                            <br>
                            <ol>
                                <li>{{'SFMS.fire-li-1' | translate}}</li>
                                <li>{{'SFMS.fire-li-2' | translate}}</li>
                                <li>{{'SFMS.fire-li-3' | translate}} <strong>{{'SFMS.fire-li-4' | translate}}</strong></li>
                                <li>{{'SFMS.fire-li-5' | translate}}</li>
                                <li>{{'SFMS.fire-li-6' | translate}}</li>
                                <li>{{'SFMS.fire-li-7' | translate}}</li>
                                <li>{{'SFMS.fire-li-8' | translate}}</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="module-box">
                            <p class="title">{{'SFMS.serve-weather' | translate}}</p>
                            <img class="img-rounded" src="../../../../../assets/images/sfms/severe-weather.png" alt="">
                            <br>
                            <ol>
                                <li>{{'SFMS.serve-li-1' | translate}}</li>
                                <li>{{'SFMS.serve-li-2' | translate}}</li>
                                <li>{{'SFMS.serve-li-3' | translate}}</li>
                                <li>{{'SFMS.serve-li-4' | translate}}</li>
                                <li>{{'SFMS.serve-li-5' | translate}}</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="module-box">
                            <p class="title">{{'SFMS.urgent-Situation' | translate}}</p>
                            <img class="img-rounded" src="../../../../../assets/images/sfms/urgent-situation.png" alt="">
                            <br>
                            <ol>
                                <li>{{'SFMS.urgent-li-1' | translate}} <strong>{{'SFMS.urgent-li-2' | translate}}</strong></li>
                                <li>{{'SFMS.urgent-li-3' | translate}}
                                    <ul>
                                        <li><i>{{'SFMS.urgent-li-4' | translate}}</i></li>
                                        <li><i>{{'SFMS.urgent-li-5' | translate}}</i></li>
                                        <li><i>{{'SFMS.urgent-li-6' | translate}}</i></li>
                                        <li><i>{{'SFMS.urgent-li-7' | translate}}</i></li>
                                        <li><i>{{'SFMS.urgent-li-8' | translate}}</i></li>
                                    </ul>
                                </li>
                                <li>{{'SFMS.urgent-li-9' | translate}}</li>
                                <li>{{'SFMS.urgent-li-10' | translate}}</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="module-box">
                            <p class="title">{{'SFMS.violent-incident' | translate}}</p>
                            <img class="img-rounded" src="../../../../../assets/images/sfms/violent-incident.png" alt="">
                            <div class="row">
                                <div class="col-sm-6 emergency-width">
                                    <p class="attention">{{'SFMS.avoid' | translate}}</p>
                                    <ol>
                                        <ul>
                                            <li>{{'SFMS.violent-li-1' | translate}}</li>
                                            <li>{{'SFMS.violent-li-2' | translate}}</li>
                                            <li>{{'SFMS.violent-li-3' | translate}}</li>
                                            <li>{{'SFMS.violent-li-4' | translate}}</li>
                                            <li>{{'SFMS.violent-li-5' | translate}} </li>
                                        </ul>
                                    </ol>
                                    <p class="attention">{{'SFMS.violent-li-6' | translate}}</p>
                                    <ol style="margin-bottom: 0!important;">
                                        <ul style="margin-bottom: 0!important;">
                                            <li>{{'SFMS.violent-li-7' | translate}}</li>
                                            <li>{{'SFMS.violent-li-8' | translate}}</li>
                                            <li>{{'SFMS.violent-li-10' | translate}}</li>
                                            <!--<li>{{'SFMS.violent-li-11' | translate}}</li>-->
                                        </ul>
                                    </ol>
                                </div>
                                <div class="col-sm-6 emergency-width">
                                    <p class="attention">{{'SFMS.violent-li-12' | translate}}</p>
                                    <ol >
                                        <ul >
                                            <li>{{'SFMS.violent-li-13' | translate}}</li>
                                            <li>{{'SFMS.violent-li-14' | translate}}</li>
                                            <li><span class="attention-capital">{{'SFMS.violent-li-15' | translate}}</span>{{'SFMS.violent-li-16' | translate}}</li>
                                            <li>{{'SFMS.violent-li-17' | translate}}</li>
                                        </ul>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>