@import "../../../SK";
label{
  width: 100%;
}
.mCSB_container {
  padding-top: 30px!important;
}
.plus-icon{
  cursor: pointer;
  margin-top: -30px;
  margin-right: 1px;
}
.pull-left-check{
  float: left;
}