@import '../../AMS';
.col-sm-c-01{
    padding-left: 0 !important;
    width: 39.8%;
    min-height: 1px;
    float: left;
    padding-right: 8px;
    position: relative;
}
.col-sm-c-0{
    padding-left: 0 !important;
    width: 9.9%;
    min-height: 1px;
    float: left;
    padding-right:15px;
    position: relative;
}
