<div class="row" style="margin-right: 0px;margin-left: 0px;margin-bottom: 20px">
    <div class="col-sm-12" style="min-height: 500px">

        <div class="row" style="margin-left: 0px;margin-right: 0px">
            <div class="col-sm-3 input1 filter-elements" *ngIf="appService.currentCalendar=='gregorian'">
                <p><span class="staff-header">{{'ALMS.from-date' | translate}}</span></p>
                <div >
                    <input (ngModelChange)="convertGregorianDateToUTC(myFromDate,'from')"
                           style="direction: ltr!important;font-family:tw-regular!important;"
                           matInput name="pickedFromDate" [(ngModel)]="pickedFromDate"
                           [matDatepicker]="myFromDate" placeholder="{{fromDate}}"
                           required class="dob-field" readonly="true" style="direction: ltr!important;">
                    <mat-datepicker-toggle [for]="myFromDate"></mat-datepicker-toggle>
                    <mat-datepicker #myFromDate [startAt]="pickedFromDate"  ></mat-datepicker>
                </div>
            </div>
            <div class="col-sm-3 input1 filter-elements-cal"
                 *ngIf="appService.currentCalendar=='jalali'">
                <p>
                    <span class="staff-header">{{'ALMS.from-date' | translate}}</span>
                </p>
                <div >
                    <dp-date-picker
                            style="width: 100%;font-family: Yekan!important;height: 35px!important;"
                            dir="rtl"
                            [(ngModel)]="pickedFromDate"
                            mode="day"
                            placeholder="تاریخ"
                            theme="dp-material" (ngModelChange)="convertJalaliDateToUTC(pickedFromDate,'from')" >
                    </dp-date-picker>
                </div>
            </div>
            <div class="col-sm-3 input1 filter-elements" *ngIf="appService.currentCalendar=='gregorian'">
                <p><span class="staff-header">{{'ALMS.to-date' | translate}}</span></p>
                <div >
                    <input (ngModelChange)="convertGregorianDateToUTC(myToDate,'to')" style="direction: ltr!important;font-family:tw-regular!important;" matInput name="pickedToDate" [(ngModel)]="pickedToDate" [matDatepicker]="myToDate" placeholder="{{toDate}}"
                           required class="dob-field" readonly="true" style="direction: ltr!important;">
                    <mat-datepicker-toggle [for]="myToDate"></mat-datepicker-toggle>
                    <mat-datepicker #myToDate [startAt]="pickedToDate"  ></mat-datepicker>
                </div>
            </div>
            <div class="col-sm-3 input1 filter-elements-cal" *ngIf="appService.currentCalendar=='jalali'">
                <p><span class="staff-header">{{'ALMS.to-date' | translate}}</span></p>
                <div >
                    <dp-date-picker   style="width: 100%;font-family: Yekan!important;height: 35px!important;"
                                      dir="rtl"
                                      [(ngModel)]="pickedToDate"
                                      mode="day"
                                      placeholder="تاریخ"
                                      theme="dp-material" (ngModelChange)="convertJalaliDateToUTC(pickedToDate,'to')" >
                    </dp-date-picker>
                </div>
            </div>

            <!-- Comment This Section for Employee Panel     -->
            <div class="col-sm-3 no-left-padding select input1 " *ngIf="showDesignation">
                <p>
                    <span class="staff-header">{{'AMS.staff-name' | translate}}</span>
                </p>
                <select [(ngModel)]="staffObj" class="form-control col-lg-8" #staff required>
                    <option value="0" selected>{{'SSMS.select-staff' | translate}}</option>
                    <option *ngFor="let staff of staffNames">{{staff.name}}</option>
                </select>
            </div>
            <!--  -->
            <div class="col-sm-3 translatable-float-right">
                <p>
                    <span class="staff-header">&nbsp;</span>
                </p>
                <div class="filter-area">
                    <button class="execute-btn " (click)="getEmployeeData(1)">
                        {{'AMS.execute' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="totalRecordsCount > perPage">
            <div class="col-sm-12">
                <div class="">
                    <div class="filter">
                        <div class="pagers">
                            <ul>
                                <li>
                                    <i class="glyphicon glyphicon-menu-left-d filter-icon"
                                       (click)="setPage('first')"></i>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-menu-left filter-icon"
                                       (click)="setPage('previous')"></i>
                                </li>
                                <li class="filter-int">
                                    <span>{{page}}</span>
                                    <span>-</span>
                                    <span>{{totalPages}}</span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-menu-right filter-icon" (click)="setPage('next')"></i>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-menu-right-d filter-icon"
                                       (click)="setPage('last')"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 0; margin-top:15px;">
            <div class="col-sm-12" *ngFor=" let employee of employeeArr; let i = index; ">
                <div class="subsidiary-box">
                    <div class="fs-23 staff-header">
                        <span class="header-number">{{(i + 1) + ((page-1) * perPage)}}</span>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-2 inline-elements">
                                    <span>{{'AMS.date' | translate}}</span>
                                    <br>
                                    <p>{{employee.timesheetdate}}</p>
                                </div>
                                <div class="col-sm-2 inline-elements">
                                    <span>{{'AMS.name' | translate}}</span>
                                    <br>
                                    <p *ngIf="appService.currentLang=='en'">{{employee.staffNameMultiLingualMap.map.en}}</p>
                                    <p *ngIf="appService.currentLang=='fa'" style="font-family: Yekan!important;direction: ltr!important;">{{employee.staffNameMultiLingualMap.map.fa}}</p>
                                </div>
                                <div class="col-sm-3 inline-elements">
                                    <span>{{'AMS.logged-hours' | translate}}</span>
                                    <p>{{employee.loggedhours}} {{'AMS.hours' | translate}}</p>
                                </div>
                                <div class="col-sm-5 inline-elements  pull-right" *ngIf="!showStaffBtn">

                                    <div *ngIf="employee.status !=='Rejected'" class="col-sm-4">
                                        <button *ngIf="appService.hasAccessToWrite(5,16)" class="execute-btn pull-right" (click)="approveReject(employee, 2,3)"
                                        >{{'AMS.reject' | translate}}
                                        </button>
                                    </div>
                                    <div *ngIf="employee.status !=='Approved'" class="col-sm-4">
                                        <button *ngIf="appService.hasAccessToWrite(5,16)" class="execute-btn pull-right" (click)="approveReject(employee, 1,2)"
                                        >{{'AMS.approve' | translate}}
                                        </button>
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="execute-btn pull-right " (click)="approveReject(employee, 0,1)">
                                            {{'AMS.view' | translate}}
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-5 inline-elements  pull-right" *ngIf="showStaffBtn">
                                    <div  *ngIf="!employee.status && appService.hasAccessToWrite(5,16)" class="col-sm-6">
                                        <button class="execute-btn pull-right" (click)="approveReject(employee, 1)"
                                        >{{'AMS.submit' | translate}}
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="execute-btn pull-right" (click)="approveReject(employee, 0,1)"
                                        >{{'AMS.view' | translate}}
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>