@import '../../../../OMS';
.grade-policy-main-container {
    min-height: 20vh;
    margin-bottom: 15px;
}
.specific-areas {
    span {
        button{
            margin:5px;
        }
    }
}
.row{
    margin: 0px!important;
}
