<section #commonAreaGroups class="col-lg-12">
  <span class="grades-header fs-23">Common area groups</span>
  <div class="clearfix"></div>
  <!-- {{manageGrades.length}} -->
  <div *ngIf="commonAresGroupsArray.length >= 1;then dataContainer else noDataMessage"></div>
  <ng-template #dataContainer>
    <div class="col-lg-12 grade-policy-main-container">
      <div class="grade-lists chips fs-23" *ngFor="let commonArea of commonAresGroupsArray;">
        {{commonArea}}
      </div>
    </div>
  </ng-template>
  <ng-template #noDataMessage>
    <div class="col-lg-12 grade-policy-main-container">
      <div class="no-grades-availble fs-23">No common area groups available.</div>
    </div>
  </ng-template>
</section>
<section #specificAreaGroups  class="col-lg-12">

  <div class="pull-right row" style="width: 100%">
    <div class="col-lg-6" style="float: right">
      <div class="col-lg-4" style="float: right"><button class="execute-btn " style="font-size: 16px!important;" [routerLink]="['/rsb-modules/organization/dept/policies/specific-area/prepare']">Create</button></div>
      <div class="col-lg-4" style="float: right"><button class="execute-btn " style="font-size: 16px!important;" >EDIT</button></div>
    </div>

  </div>
  <span class="pull-left">
    <span class="grades-header fs-23">Specific area groups</span>
  </span>
  <div class="clearfix"></div>
  <!-- {{manageGrades.length}} -->
  <div *ngIf="commonAresGroupsArray.length >= 1;then dataContainer else noDataMessage"></div>
  <ng-template #dataContainer>
    <div class="col-lg-12 grade-policy-main-container">
      <div class="grade-lists chips fs-23" *ngFor="let commonArea of commonAresGroupsArray;">
        {{commonArea}}
      </div>
    </div>
  </ng-template>
  <ng-template #noDataMessage>
    <div class="col-lg-12 grade-policy-main-container">
      <div class="no-grades-availble fs-23">No common area groups available.</div>
    </div>
  </ng-template>
</section>