<div class="row">
        <div class="col-xs-12">
            <div class="prepare-form">
                <div class="prepare-form-head">
                    <span></span>
                    <h2>{{'shared.edit'|translate}}</h2>
                </div>
                <div class="clear"></div>
                <div class="prepare-form-body">
                    <form (ngSubmit)="editUrl()" #urlForm="ngForm">
                       
                        <div class="col-sm-12">
                           
                            <div class="form-group">
                                <label>URL</label>
                                <input type="text" [(ngModel)]="model.url" name="url" placeholder="URL" required #url="ngModel" style="height: 35px;font-size: 18px">
                                <div class="error-message-display">
                                    <div [hidden]="url.valid || url.untouched">
                                        <div *ngIf="url.errors && url.errors.required">
                                            {{'validate-message.url-required'|translate}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        
    
                       
                        
                        </div> 

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'SP.username'|translate}}</label>
                                <input type="text" [(ngModel)]="model.username" name="username" placeholder="USERNAME" required #userName="ngModel"  style="height: 35px;font-size: 18px">
                                <div class="error-message-display">
                                    <div [hidden]="userName.valid || userName.untouched">
                                        <div *ngIf="userName.errors && userName.errors.required">
                                            {{'validate-message.username-required'|translate}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'SP.password'|translate}}</label>
                                <input type="password" [(ngModel)]="model.password" name="password" placeholder="PASSWORD" required #password="ngModel"  style="height: 35px;font-size: 18px">
                                <div class="error-message-display">
                                    <div [hidden]="password.valid || password.untouched">
                                        <div *ngIf="password.errors && password.errors.required">
                                            {{'validate-message.password-required'|translate}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>


                        <div class="clearfix"></div>
                        <div class="form-footer  row" style="width: 100%;margin-bottom: 30px!important;">
                            <div class="pull-right col-lg-6 col-md-6 col-sm-6 col-xs-6" style="float: right;padding: 0px">
                                <div class="col-lg-6" style="float: right;width: 50%;padding: 5px">
                                    <button *ngIf="appService.hasAccessToWrite(13,33)" type="submit" class="form-button-submit pull-right" [disabled]="!urlForm.valid" style="width: 100%;">
                                        {{'shared.execute'|translate}}
                                    </button>

                                </div>
                                <div class="col-lg-6" style="float: left;width: 50%;padding: 5px">
                                    <button class="form-button-cancel pull-right" type="button" (click)="closeModal()" style="width: 100%">
                                        {{'shared.cancel'|translate}}
                                    </button>

                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>

                    </form>
                </div>
                <div class="powered-by">
                    <img *ngIf="!appService.lightThemeC" src="../../../../../assets/images/logo.png" />
                    <img *ngIf="appService.lightThemeC" src="../../../../../assets/images/logo2.png" />
                </div>
            </div>
        </div>
    </div>