@import "../../_variables.scss";
@import "../../common.scss";
label {
  color: #f9961e;
  font-size: 16px;
  margin-bottom: 0;
  letter-spacing: 1.5px;
  display: block !important;
  position: inherit;
  top:0px;
}