.light {
  .q-field-control{
    option{
      color: #031052 !important;
    }
  }
  .well{
    background-color: #fff!important;
  }
  .access-edit-titles {
    color: #f9961e !important;
  }
  .screens-list {
    border-bottom: solid 1px #031052 !important;
    border-top: solid 1px #031052 !important;
  }
  .add-role-body {
    border-color: #031052 !important;
  }
  .add-role-side {
    border-color: #031052 !important;
  }
  .sys-login {
    color: #031052 !important;
  }
  .login-button {
    color: #fff !important;
    background: #031052 !important;
    border: 1px solid #031052 !important;
  }
  .mdtp__clock_holder {
    background: white !important;
  }
  .area-value {
    color: #031052 !important;
  }
  .device-point-container {
    background: white !important;
  }
  .slide-menu-container {
    background: white !important;
    border: 1px solid #031052 !important;
  }
  .tooltip-desc {
    ul {
      li {
        p {
          color: #031052 !important;
        }
      }
    }
  }
  .tooltip-container {
    background-color: white !important;
  }
  .new-anim {
    .new-box {
      border: 2px solid #031052 !important;
      p {
        color: #031052 !important;
      }
      span {
        color: #f9961e !important;
      }
    }
  }
  background-color: white !important;
  .module-box {
    border: 2px solid #031052 !important;
  }
  .box-button {
    color: #fff !important;
    background: #031052 !important;
    border: 1px solid #031052 !important;
  }
  .vehicle-box {
    border: 1px solid #031052 !important;
  }
  .main-text {
    color: #031052 !important;
  }
  .vehicle-heading {
    color: #031052 !important;
  }
  .add-vehicle {
    color: #f9961e !important;
  }
  .vehicle-box {
    background: #ffffff !important;
  }
  .glyphicon-remove-sign {
    color: #f9961e !important;
  }
  .panel-heading {
    border: 1px solid #031052 !important;
  }
  .accordion-toggle {
    color: #031052 !important;
  }
  .allocated-dept-area-name {
    color: #f9961e !important;
    border: 1px solid #031052 !important;
    span {
      color: #f9961e !important;
    }
  }
  .select-area-tags {
    color: #031052 !important;
    background: #ffffff !important;
    border: 1px solid #031052 !important;
  }
  .prepare-form-body {
    .text-center {
      color: #031052 !important;
    }
  }
  .area-list-conatiner {

    background: #ffffff !important;
    border: 1px solid #031052 !important;
    .area-name-container {
      color: #031052 !important;
    }
    .area-number-container {
      span {
        color: #f9961e !important;
      }

    }
  }
  .prepare-floor-body {
    input {
      color: #031052 !important;
      background: #ffffff !important;
      border: 1px solid #031052 !important;

    }
  }
  .single-floor {
    background: #ffffff !important;
    border: 1px solid #031052 !important;
    .type-description {
      p {
        color: #031052 !important;
      }
    }
  }
  .subsidiary-box {
    .name {
      color: #f9961e !important;
    }
  }
  .prepare-campus-body {
    input,
    textarea {
      color: #031052 !important;
      background: #ffffff !important;
      border: 1px solid #031052 !important;
    }
    .prepare-campus-type {
      margin-top: 20px;
    }
    .prepare-campus-phone {
      margin-top: 20px;
    }
  }
  .add-edit-container {
    background: #ffffff !important;
    border: 1px solid #031052 !important;
  }
  .type-description {
    .shrink-line {
      color: #031052 !important;
    }
  }
  .single-campus {
    background: #ffffff !important;
    border: 1px solid #031052 !important;
  }
  .ems-filter {
    border: solid 1px #031052 !important;
  }
  .coltet {
    color: #031052 !important;
  }
  .area-tile {
    background-color: #f9961e !important;
    border: 1px solid #031052 !important;
    .area-code-head {
      color: #031052 !important;
    }
    .area-name-head {
      color: #031052 !important;
    }
  }
  .manage-area-container-list {
    background: #ffffff !important;
  }
  .image-preview-input {
    background: #ffffff !important;
    border: 1px solid #031052 !important;
  }
  .device-list {
    background: #ffffff !important;
    border: 1px solid #031052 !important;
  }
  .device-detail {
    .device-head {
      li {
        color: #031052 !important;
      }
    }
    .description {
      .span-name {
        color: #031052 !important;
      }
    }

  }
  .filtered-desc {
    p {
      border: 2px solid #031052 !important;
    }
  }
  .filter-elements {
    .checkbox {
      background: #ffffff !important;
      p {
        color: #031052 !important;
      }
    }
    label {
      color: #031052 !important;
    }
    textarea {
      background: #ffffff !important;
      border: 1px solid #031052 !important;
      color: #031052 !important;
    }
  }
  .prepare-form {
    background: #ffffff !important;
    border: 3px solid #031052 !important;
    label {
      color: #031052 !important;
    }
    p {
      color: #031052 !important;
    }
    span {
      color: #031052 !important;
    }
    input {
      color: #031052 !important;
      background-color: white !important;
    }
    select {
      color: #031052 !important;
      background-color: white !important;
    }
    .policy-container {
      background: #ffffff !important;
      border: 1px solid #031052 !important;
    }
    textarea {
      background: #ffffff !important;
      border: 1px solid #031052 !important;
      color: #031052 !important;
    }
  }
  .manage-btn {
    background-color: #031052 !important;
    color: white !important;
    border-color: #031052 !important;
  }
  .subsidiary-box {
    background-color: white !important;
    border-color: #031052 !important;
    p {
      color: #031052 !important;
    }
    button {
      background-color: #031052 !important;
      color: white !important;
      border-color: #031052 !important;
    }
  }
  .page-wrapper {
    background-color: #fff !important;
  }
  .staff-header {
    color: #031052 !important;
  }
  .filter-elements {
    input {
      color: #031052 !important;
      background-color: white !important;
    }
    select {
      color: #031052 !important;
      background-color: white !important;
    }
  }
  .table-bordered {
    th {
      background-color: #031052 !important;
      color: white !important;
      border-color: #031052 !important;
    }
    td {
      color: #031052 !important;
      background-color: white !important;
      border-color: #031052 !important;
      .level-color {
        color: unset !important;
      }
    }

  }
  .calendar1 {
    color: rgba(249, 150, 30, 0.7) !important;
  }
  .filter-icon {
    background-color: #031052 !important;
    color: white !important;
  }
  .filter-int {
    span {
      background-color: #031052 !important;
      color: white !important;
    }
    background-color: #031052 !important;
    color: white !important;
  }
  .filter {
    .pagers {
      ul {
        li {
          span {
            background-color: #031052 !important;
            color: white !important;
          }
        }
      }
    }

  }
  .execute-btn {
    background-color: #031052 !important;
    color: white !important;
    border-color: #031052 !important;
  }
  .logo-wrapper {
    border-color: #031052 !important;
  }
  .sub-header-wrapper {
    .sub-header {
      h4 {
        color: #031052 !important;
      }
    }
  }
  .layout-sidemenu {
    .sidemenu-wrapper {
      .sidemenu {
        ul {
          li {
            a {
              color: #031052 !important;
            }
          }
        }
      }
    }
  }
  .breadcrumb-btn {
    background-color: #031052 !important;
    color: white !important;
  }
  .breadcrumb-btn::after {
    border-left: 18.5px solid #031052 !important;
  }
  .breadcrumb-btn.active::after {
    border-left: 13.5px solid #f9961e !important;
  }
  .breadcrumb-btn.active {
    background-color: #f9961e !important;
    color: #031052 !important;
  }
  .breadcrumb-btn::before {
    border-left: 18.5px solid #ffffff !important;
  }
  .footer {
    border: 2px solid #031052 !important;
    background-color: white !important;
  }
  .footer__version {
    color: #031052 !important;
  }
  .footer-date {
    color: #031052 !important;
  }
  .pageDetail {
    color: #ffffff !important;
    background: #031052 !important;
    border: 1px solid #031052 !important;
    .sample2 {
      border: 4px solid #031052 !important;
    }
  }
  .dob-field {
    color: #031052 !important;
  }
  .btn-warning:hover {
    background: #031052 !important;
  }
  // amir
  // ---------------vics-------------

  .profile {
    background: #ffffff !important;
    border-bottom: 1px solid #031052 !important;
  }
  .call-side {
    background: #ffffff !important;
    border: 2px solid #031052 !important;
    border-right: none !important;
  }

  .call-content {
    background: #ffffff !important;
    border: 2px solid #031052 !important;
  }
  .search {
    border-bottom: 2px solid #031052 !important;
    color: #031052 !important;
    input {
      background: #ffffff !important;
    }
  }
  .search {
    border-bottom: 1px solid #ffffff !important;
  }
  .middle-btn {
    border-left: 1px solid #031052 !important;
    border-right: 1px solid #031052 !important;
  }

  .btns {
    border-bottom: 1px solid #031052 !important;
  }
  .vics-select {
    input, select {
      background: #ffffff !important;
      border: 1px solid #031052 !important;
      color: #031052 !important;

    }
  }

  .search-icon {
    color: #031052 !important;
  }
  .offline {
    background-color: #031052 !important;

  }
  //
  //span {
  //  color: #031052 !important;
  //}
  .checkbox {
    background-color: #031052 !important;
  }
  .name-side {
    p {
      color: #031052 !important;
    }
  }
  .profile {
    h4 {
      color: #031052 !important;
    }
  }

  .sort {
    color: #031052 !important;
    background-color: #031052 !important;
    border-bottom: solid 1px #031052 !important;
    border-top: solid 1px #031052 !important;

  }
  .call-border {
    border-bottom: solid 2px #031052 !important;
  }

  //    ----------------------     SSMS         -------------------

  .input1 {
    select {
      background: #fff !important;
      border: 1px solid #031052 !important;
      color: #031052 !important;
    }
  }
  .form-group {
    select, input {
      border: 1px solid #031052 !important;
    }
  }

  .prepare-form-head {
    h2 {
      color: #f9961e !important;
    }
  }

  .table-bordered {
    th {
      border: 1px solid #04142b !important;
      background-color: #fff !important;
      color: #04142b !important;
    }
    .manage-btns {
      background-color: #04142b !important;
      color: #fff !important;
    }
  }

  .cam {
    border: 2px solid #04142b !important;
    background-color: #fff !important;
    img {
      border-bottom: 2px solid #f9961e !important;
    }
    span {
      color: #f9961e !important;
    }
  }
  .box-body {
    .inline-elements {
      span {
        color: #f9961e !important;
      }
    }
  }
  //   --------------------      SPMS      ---------------------------

  .ems-device-status-main-container {
    label {
      color: #031052 !important;
    }
    select {
      background: #fff !important;
      border: 1px solid #031052 !important;
      color: #031052 !important;
    }
  }

  .parking-area {
    border: 1px solid #041426 !important;
    background-color: #fff !important;
    .parkings {
      border: 1px solid #041426 !important;
    }
    .parkings-side {
      border: 1px solid #041426 !important;
    }
  }
  //  -------------   SPAS   -------------------------------

  .manage-light {
    input {
      background-color: #fff !important;
      border: 1px solid #031052 !important;
    }
    select {
      background: #fff !important;
      border: 1px solid #031052 !important;
      color: #031052 !important;
    }
  }

  //  -------------   SFMS   -------------------------------

  .templateTwo-wrapper {
    .module-box {
      background-color: #fff !important;
      border: 2px solid #031052 !important;
      li {
        color: #031052 !important;
      }
      p.attention {
        color: #031052 !important;
      }
    }
  }
  .safety-margin-right {
    select {
      background: #fff !important;
      border: 1px solid #031052 !important;
      color: #031052 !important;
    }
  }

  .section {
    .content-section {
      background: #fff !important;
      border: 1px solid #031052 !important;

    }
  }
  .radio-container {

    color: #031052 !important;

  }
  //  -------------   SFMS   -------------------------------

  .sk-manage-float {
    select {
      background: #fff !important;
      border: 1px solid #031052 !important;
      color: #031052 !important;
    }
  }
  .solid {
    color: #031052 !important;
  }
  .turn-btn-float {
    button {
      font-family: Yekan !important;
    }
  }
  .manage-safety-sensor-name {
    p {
      color: #031052 !important;
    }
  }
  //  -------------   HOMS   -------------------------------

  .date-input-light {

    input {
      background-color: #fff !important;
      border: 1px solid #031052 !important;

    }
  }

  //  -------------- AMS -----------------
  .input-light {
    input {
      background-color: #fff !important;
      border: 1px solid #031052 !important;
    }
  }

  // ---------- CALL  ----------
  .call-back {
    background-color: #fff !important;
    border: 1px solid #031052 !important;
    color: #031052 !important;
  }
  .calling-name {
    color: #031052 !important;
  }

  .sk-device-name {
    color: #031052 !important;
  }

  // LNR
  .mat-card {
    background: #ffffff !important;
  }

  .lnr-cancel-btn {
    background: #c8373c !important;
  }
  .lnr-execute-btn {
    background: #058141 !important;
  }
}

// END

