.rtl-style {
  .only-for-admin{
    float: right!important;
  }
  .element-filter {
    float: right !important;
  }
  .visitor-purpose {
    font-family: Yekan !important;
    direction: rtl !important;
  }
  .access-edit-btn {
    margin-right: 10px !important;
  }
  .leave-list-btn {
    margin-top: 31px !important;
  }
  .visitor-fa {
    margin-top: 70px !important;
  }
  .role-index {
    float: right !important;
  }
  .device-index {
    float: right !important;
  }
  .fa-add-device-close {
    margin-right: 20px !important;
  }
  .add-device-fa {
    margin-left: 20px !important;
  }
  .department {
    float: right !important;
  }
  .delete-sp {
    width: auto !important;
  }
  .role-name {
    float: right !important;
    font-family: Yekan !important;
  }
  .permission-label {
    left: 0;
    font-family: Yekan !important;
  }
  .read {
    float: right !important;
    font-family: Yekan !important;
  }
  .write {
    float: right !important;
    font-family: Yekan !important;
  }
  .module-select {
    float: right !important;
  }
  .module-list {
    float: right !important;
  }
  .add-role-side {
    float: right !important;
  }
  .screens-list {
    font-family: Yekan !important;
  }
  .no-dept-availble {
    font-family: Yekan !important;
  }
  .sfms-div {
    float: right !important;
  }
  .padding-left-rtl-0 {
    padding-left: 0px !important;
  }
  .my-input {
    width: 100% !important;
  }
  .timer-work-add {
    //right: -46px !important;
    //font-size: 30px;
    //position: absolute;
    //top: 33px;
    //z-index: 100;

  }
  .alert-delete-btn {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .calendar-top-rtl-32 {
    top: 32px !important;
  }
  .find-floor-button {
    margin-top: 30px !important;
  }
  .calendar2 {
    top: 43px !important;
  }
  .wizard-pager {
    float: left !important;
  }
  .select-cycle {
    float: right !important;
  }
  .select-day {
    float: right !important;
  }
  .middle-staff-btn {
    padding-left: 5px !important;
  }
  .vehicle-info {
    ul {
      li {
        span {
          text-align: right !important;
          float: right !important;
          font-family: Yekan !important;
        }
      }
    }
  }
  .staff-policy {
    float: right !important;
  }
  .pull-left-img {
    float: right !important;
  }
  .pull-left-check {
    float: right !important;
  }
  .allocated-area-text {
    left: auto !important;
    right: 15px !important;
  }
  .submit-form-element {
    .image-preview-input {
      top: 30px !important;
    }
  }
  .device-save-button {
    font-family: Yekan !important;
  }
  .device-cancel-button {
    font-family: Yekan !important;
  }
  .brand-style {
    span {
      font-family: Yekan !important;
      float: right !important;
    }
  }
  .brand-head {
    span {
      font-family: Yekan !important;
    }
  }
  .tooltip-head {
    button {
      font-family: Yekan !important;
    }
  }
  .tooltip-desc {
    ul {
      li {
        span {
          font-family: Yekan !important;
          float: right !important;
        }
      }
    }
  }
  .new-anim {
    .new-box {
      direction: rtl !important;
      p {
        font-family: Yekan !important;
      }
      h2 {
        font-family: Yekan !important;
      }
    }
  }
  .module-box-text {
    font-family: Yekan !important;
    margin-right: 15px !important;
    direction: rtl !important;
    line-height: 30px !important;
    right: 0px !important;
  }
  .header-second__header-bar {
    font-family: Yekan !important;
  }
  .delete-output {
    position: relative !important;
    right: -25px !important;
    top: 8px !important;
  }
  .min-sec-fa {
    font-family: Yekan !important;
  }
  .frequency-box {
    float: right !important;
  }
  .frequency-label-min {
    left: -50px !important;
    right: auto !important;
    font-family: Yekan !important;
  }
  .frequency-label-sec {
    left: -50px !important;
    right: auto !important;
    font-family: Yekan !important;
  }
  .pull-right {
    float: left !important;
  }
  .margin-top-min26 {
    margin-top: -26px !important;
  }
  .right-15 {
    right: 15px !important;
  }
  .manage {
    margin-right: 5px !important;
  }
  .delete-confirm {
    font-family: Yekan !important;
    font-size: 30px !important;
  }
  ////////////////shared
  .translatable-float-right {
    float: right !important;
  }
  .translatable {
    font-family: Yekan !important;
  }
  .translatable-direction-rtl {
    direction: rtl !important;
  }
  .translatable-text-align-right {
    text-align: right !important;
  }

  .translatable-float-left {
    float: left !important;
  }

  ///////////////////////////////////
  .vehicle-info {
    .vehicle-head {
      font-family: Yekan !important;
    }
    .vehicle-desc {
      .header-class {
        font-family: Yekan !important;
      }
    }
  }
  .vehicle-heading {
    font-family: Yekan !important;
  }
  .area-info {
    .area-head {
      h4 {
        font-family: Yekan !important;
      }
    }
  }
  .meal-work-form {
    .sub-headers {
      font-family: Yekan !important;
    }
  }
  .area-desc {
    ul {
      li {
        span {
          font-family: Yekan !important;
          text-align: right !important;
          float: right !important;
        }
        p {
          direction: rtl !important;
          float: right !important;
          text-align: right !important;
        }
      }
    }
  }
  .emp-desc {
    p {
      font-family: Yekan !important;
      text-align: right !important;
    }
    .header-class {
      text-align: right !important;
    }
    ul {
      li {
        span {
          font-family: Yekan !important;
          text-align: right !important;
          float: right !important;
        }
        p {
          direction: rtl !important;
        }
      }
    }
  }
  .emp-head {
    font-family: Yekan !important;

  }
  .profile-desc {
    span {
      float: right !important;
      text-align: right !important;
      padding-right: 10px !important;
      font-family: Yekan !important;
    }
  }
  .vics-profile-pic {
    float: right !important;
  }
  .personal-head {
    font-family: Yekan !important;
  }
  .personal-info {

    float: right !important;
    margin-left: 1% !important;
    margin-right: 0px !important;
  }
  .profile-pic-image {
    float: right !important;
  }
  .box-header {
    font-family: Yekan !important;
  }
  .create-new-area-division {
    direction: ltr !important;
    font-family: Yekan !important;
    margin-left: 30px !important;
  }
  .delete-area-button {
    font-family: Yekan !important;
  }
  .area-di-points {
    direction: rtl !important;
    font-family: Yekan !important;
  }
  .floor-head {
    span {
      direction: rtl !important;
    }
  }
  .floor-detail-container {
    float: right !important;
    .single-floor {
      right: 2px !important;
      width: 92% !important;
    }
    .single-floor.active::after {
      transform: rotate(180deg) !important;
      left: -20px !important;
      right: auto !important;
    }
  }
  .prepare-floor-type {
    span {
      font-family: Yekan !important;
      float: right !important;
      margin-bottom: 5px !important;
    }
  }
  .prepare-floor-name {
    span {
      font-family: Yekan !important;
      float: right !important;
    }
  }
  .prepare-floor-head {
    margin-right: 20px !important;
    direction: rtl !important;
    .prepare-floor-head-type {
      font-family: Yekan !important;
    }
  }
  .area-icon {
    font-family: Yekan !important;
  }
  .area-area-icon {
    float: left !important;
    font-family: Yekan !important;
  }
  .box-elements {
    float: right !important;
  }
  .department-content-wrapper {
    .sub-head {
      font-family: Yekan !important;
      margin-left: 10px !important;
    }
  }
  .manage-area-container {
    .no-padding-right {
      float: right !important;
    }
    .manage-area-container-list {
      .area-list-conatiner {
        width: 80% !important;
        right: 15px !important;
        padding-right: 5px !important;
      }
      .area-list-conatiner.active::after {
        transform: rotate(180deg) !important;
        left: -20px !important;
        right: auto !important;
      }
    }
  }
  .prepare-campus-type {
    span {
      font-family: Yekan !important;
      float: right !important;
    }
  }
  .prepare-campus-phone {
    span {
      font-family: Yekan !important;
      float: right !important;
    }
  }
  .prepare-campus-name {
    span {
      font-family: Yekan !important;
      float: right !important;
    }
  }
  .prepare-campus-head {
    direction: rtl !important;
    .prepare-campus-head-type {
      font-family: Yekan !important;
    }
    .prepare-campus-head-number {
      margin-right: 10px !important;
      margin-left: 10px !important;
    }
  }
  .manage-btns {
    font-family: Yekan !important;
  }
  .single-campus.active::after {
    transform: rotate(180deg) !important;
    left: -22px !important;
    right: auto !important;
  }
  .single-campus {
    margin: 0px 15px 15px !important;
  }
  .box-button {
    font-family: Yekan !important;
  }
  .campus-detail-container {
    float: right !important;
  }
  .type-head {
    h5 {
      font-family: Yekan !important;
      direction: rtl !important;
    }
    .area-point-head {
      font-family: Yekan !important;
    }
    .di-point-head {
      font-family: Yekan !important;
    }
    .area-point-head {
      font-family: Yekan !important;
    }
  }
  .add-edit-area-dropdown {
    button {
      font-family: Yekan !important;
    }
    span {
      font-family: Yekan !important;
    }
  }
  .add-edit-area-container {
    button {
      padding-bottom: 10px !important;
    }
  }
  .add-edit-area-header {
    button {
      font-family: Yekan !important;
    }
  }
  .create-access-point-container {
    ul {
      margin-right: 10px !important;
    }
  }
  .form-footer {
    margin-left: 50px !important;
    .footer-buttons {
      float: left !important;
    }
    .form-button-submit {
      float: left;
    }
  }
  .add-edit-container {
    h1 {
      font-family: Yekan !important;
      margin-right: 30px !important;
      direction: rtl !important;
    }
  }
  .area-desc {
    float: right !important;
  }
  .description {
    span {
      margin: 1px 0 10px 0px !important;
    }
  }
  .filter-ems {
    font-family: Yekan !important;
  }
  .status-colors {
    float: right !important;
    label {
      font-family: Yekan !important;
    }
  }
  .footer-btns {
    float: left !important;
  }
  .workingstatus {
    direction: rtl !important;
    font-family: Yekan !important;
  }
  .serial-no-input {
    direction: rtl !important;
  }
  .search-result-btns {
    float: left !important;
  }
  .checkbox {
    label {
      p {
        letter-spacing: 0px !important;
        font-size: 16px !important;
      }
      span {
        float: right !important;
        margin-left: 1.5rem !important;
      }
    }
  }
  .element-search-page {
    float: right !important;
  }
  .delete-box {
    direction: rtl !important;
    h4 {
      direction: rtl !important;
      font-family: Yekan !important;
    }
    button {
      font-family: Yekan !important;
    }
  }
  .layout-inner-frame {

  }
  .scroll-ems-config {
    .mCustomScrollBox {
      left: 0 !important;
    }
  }
  ul {
    list-style-type: none !important;
  }
  .map-area {
    float: right !important;
  }
  .area-tile {

    .area-code-head {
      font-family: Yekan !important;

    }
    .area-name-head {
      font-family: Yekan !important;

    }
  }
  .subsidiary-box {
    .staff-header {
      float: right !important;
    }
  }
  .subsidiary-box {
    .admin-header {
      float: right !important;
    }
  }
  .box-body {
    .inline-elements {
      float: right !important;
      span {
        width: 100% !important;
        font-family: Yekan !important;
        margin-bottom: 10px !important;
        padding-right: 0;
        font-size: 16px !important;
      }
      .translate {
        font-family: Yekan !important;
      }
    }
    .btns {
      .pull-left {
        float: right !important;
      }
      .pull-right {
        float: left !important;
      }
      float: left !important;
    }
  }
  .submit-footer {
    float: left !important;
  }
  .alms-staff-list {
    float: right !important;
  }
  .alms-time {
    float: right !important;
  }
  .manage-btn {
    font-family: Yekan !important;
  }
  .submit-form-element {
    float: right !important;
  }
  .form-group {
    input {
      font-family: Yekan !important;
      margin-top: 6px !important;
    }
    select {
      margin-top: 6px !important;
      font-family: Yekan !important;
      direction: rtl;
    }
    textarea {
      margin-top: 6px !important;
    }
    label {
      font-family: Yekan !important;
      float: right !important;
      letter-spacing: 0px !important;
      right: 0;
    }
    .checkbox-check {
      float: right !important;
    }
    .checkbox-label {
      margin-right: 30px !important;
    }
  }
  .error-message-display {
    font-family: Yekan !important;
    font-size: 13px !important;
    right: auto !important;
    left: 15px !important;
    text-align: left !important;
  }
  .prepare-form {
    h2 {
      font-family: Yekan !important;
      margin-bottom: 15px !important;
      float: right !important;
    }
  }
  .lnr-report{
    a{
      font-family: Yekan !important;
    }
    span{
      font-family: Yekan !important;
    }
    .tab-pane{
      font-family: Yekan !important;
    }
  }
  .radio-lnr{
    top:0px!important;
  }
  .staff-header {
    font-family: Yekan !important;
    position: relative !important;
    top: -5px !important;
  }
  .execute-btn {
    font-family: Yekan !important;
  }
  th {
    font-family: Yekan !important;
  }
  .layout-inner-frame {
    direction: rtl !important;
  }
  .calendar1 {
    right: 18px !important;
  }
  .filter-elements-cal {
    float: right !important;
    input {
      direction: rtl !important;
      font-family: Yekan !important;
      font-size: 15px !important;
    }
    span {
      font-family: Yekan !important;
      font-size: 15px !important;
    }
    label {
      font-family: Yekan !important;
      direction: rtl !important;
      font-size: 15px !important;
    }
  }
  .filter-elements {
    float: right !important;
    label {
      font-family: Yekan !important;
      direction: rtl !important;
      font-size: 15px !important;
    }
    input {
      direction: rtl !important;
      font-family: Yekan !important;
      font-size: 15px !important;
    }
    span {
      font-family: Yekan !important;
      font-size: 15px !important;
    }
  }
  .filter-area {
    width: 100% !important;
    float: left !important;
  }
  .pagers {
    direction: ltr !important;
    float: left !important;
  }
  .CSV-icon {
    float: right !important;
    margin: 0 !important;
  }
  .sidemenu-wrapper {
    .sidemenu {
      ul {
        li {
          &.active {
            padding: 2px 10px !important;
            &:after {
              left: -37px !important;
              transform: rotate(180deg) !important;

            }
          }
        }
      }
    }
  }
  .layout-sidemenu {
    float: right !important;
    ul {
      text-align: right !important;
      li {
        right: -30px !important;
        width: 80% !important;
        a {

        }

      }
    }
  }

  .sidemenu {
    font-family: Yekan !important;
  }
  .btn-breadcrumb {
    float: right !important;
    margin-right: 7px !important;
  }
  .breadcrumb-btn {
    float: right !important;
    padding: 0 28px 0 30px !important;
  }
  .breadcrumb-btn::before {
    transform: rotate(180deg) !important;
    margin-left: -20px !important;
    left: 0 !important;
  }
  .breadcrumb-btn::after {
    transform: rotate(180deg) !important;
    margin-left: -17px;
    left: 0 !important;
  }
  .breadcrumb-btn.active::after {
    transform: rotate(180deg) !important;
    margin-left: -13px;
    left: 0 !important;
  }
  .input1 {
    font-family: Yekan !important;
  }
  .sub-header {
    font-family: Yekan !important;
    float: right !important;
    h1 {

      width: 100% !important;
      position: relative !important;
      right: 0 !important;
      direction: rtl;
      left: -14px !important;
    }
    h4 {
      margin-top: 10px !important;
      width: 100% !important;
      position: relative !important;
      margin-right: 20px !important;
      direction: rtl;
      left: -14px !important;
    }

  }
  .add-button-container {
    position: unset !important;
    float: left !important;
    text-align: left !important;
  }
  .sub-header-wrapper {
    .search-panel {
      font-family: Yekan !important;
      position: absolute !important;
      left: 33.33333% !important;
    }
  }
  .pageDetail {
    padding-bottom: 3px !important;

    img {
      left: auto !important;
      right: -3px !important;
    }

  }
  .notification {
    direction: rtl !important;
    padding: 2px !important;
    .notification__span {
      font-family: Yekan !important;
      font-size: 19px !important;
    }
    .notification__number {
      font-family: Yekan !important;
      font-size: 10px !important;
    }
  }
  .overlay-container {
    direction: rtl !important;
    font-family: Yekan !important;
  }
  .form-button-submit {
    font-family: Yekan !important;
  }
  .form-button-cancel {
    font-family: Yekan !important;
  }
  ///////////////amir
  //  ---------------------       VICS        ----------------------
  .vics-profile {
    h4 {
      margin-right: 20px !important;
      top: 3px !important;

    }
  }

  .incoming-button {
    float: right !important;
    font-family: Yekan !important;
  }
  .outgoing-button {
    font-family: Yekan !important;
  }
  .call-side {
    float: left !important;
  }
  .video-call-row {
    .col-sm-10 {
      float: right !important;
    }
  }
  //.name-side {
  //  position: relative !important;
  //  left: -12px !important;
  //  max-width: 490px !important;
  //  .name {
  //    direction: ltr !important;
  //  }
  //  .col-sm-5 {
  //    position: relative !important;
  //    right: 1px !important;
  //  }
  //}
  .io {
    font-family: yekan !important;
    position: relative !important;
    right: 4px !important;
  }
  .search {
    input {
      direction: rtl !important;
      font-family: yekan !important;
    }
    span {
      right: auto !important;
      left: 10px !important;
      top: 75px !important;
    }
  }
  .outgoing-icon {
    float: left !important;
  }
  .incoming-icon {
    float: right !important;
  }
  .vics-scroll {
    .mCustomScrollBox {
      left: 0px !important;
      right: 0px !important;
    }
  }
  .vics-profile {
    .vics-profile-pic {

      top: -8px !important;
    }
  }
  .vics-search {
    input {
      top: -2px !important;
    }
  }
  //  ---------------------       SSMS        ----------------------

  .filter-area {
    font-family: Yekan !important;
    button {
      margin-right: 0 !important;
      margin-left: 5px !important;
    }
  }
  .row {
    .prepare-form {
      float: left !important;
      direction: rtl !important;
    }
    .surv-sub-box {
      margin-right: -12px !important;
    }
  }
  .checklist-item {
    float: right !important;
  }
  .add-edit-item-pager {
    float: left !important;

    .pagers {
      float: left !important;
      position: relative !important;
      right: 347px !important;
    }

  }
  .add-checklist-item-table {
    float: right !important;
    direction: rtl !important;
  }
  .add-b {
    .add {
      font-size: 18px !important;
    }
  }

  .box-body {
    .time-name {
      span {
        font-size: 14px !important;
      }
    }
  }

  .input1 {
    float: right !important;
  }

  .surv-move-pager {
    position: relative !important;
    right: 196.5% !important;
  }
  .surv-cam {
    float: right !important;
    margin-right: -13px !important;
  }
  .form-footer {
    float: left !important;
    .form-button-submit {
      float: left !important;
      margin-right: 10px !important;
    }
    .form-button-cancel {
      float: right !important;

    }
  }
  .cam {
    span {
      margin: 3px !important;
    }
    a {
      margin: 3px !important;

    }
  }
  .security-check-time {
    input {
      direction: ltr !important;
    }
  }
  //  -------------    SPMS  -------------------

  .ems-device-status-main-container {
    .parking-form-float-right {
      float: right !important;
      label {
        font-family: yekan !important;
      }

    }
  }

  .designation-right {
    left: 6vw !important;
    top: -7vw !important;
  }

  .light-side-red {
    margin-left: 12vw !important;
  }
  .parkings-container {
    .light {
      margin-right: 1.5vw !important;
    }
    .designation {
      margin-right: 1.3vw !important;
    }
    .designation-visitor {
      left: -0.5vw !important;
    }
  }
  .designation-visitor {
    left: -0.5vw !important;
  }
  .light-side {
    margin-left: 10.5vw !important;
  }
  .light-red-top {
    margin-right: 1.5vw !important;
  }
  .light-red {
    margin-right: 1.5vw !important;
  }
  .parking-guide {
    left: -8% !important;
    bottom: 140px !important;
    width: 75px !important;
    font-family: yekan !important;
    .legend {
      float: right !important;
      margin-left: 5px !important;
    }
  }
  .parking-form {
    input {
      float: right !important;

    }
  }

  .parking-form-float {
    float: right !important;
    margin-bottom: 15px !important;
  }
  .number-dir {
    label {
      direction: rtl !important;
      float: right !important;
      font-family: yekan !important;
    }
    input {
      direction: ltr !important;
    }
  }

  .parking-reserve-from-button {
    float: left !important;
    margin-left: -10px !important;
  }

  .form-button-search-modal {
    margin-top: 14.5% !important;
    font-family: yekan !important;
  }
  //.error-message-display {
  //  top: 50px !important;
  //}
  .prepare-form {
    input {
      font-family: yekan !important;
      direction: rtl;
    }
  }
  .inline-input {
    font-family: yekan !important;
  }

  .designation-bottom {
    left: -1.3vw !important;
  }

  //  ----------------  SPAS  ------------------------
  .manage-staff-name {
    span {
      padding-right: 20px !important;
    }
  }
  .manage-staff-farsi {
    .manage-staff-rtl {
      float: right !important;
    }
  }
  .manage-staff-pager-lrt {
    .col-sm-offset-8 {
      margin-left: 0 !important
    }
  }
  .staff-list-float {
    font-family: Yekan !important;
    float: right !important;
    input {
      float: right !important;
    }
    label {
      float: right !important;
    }
    margin-top: 10px !important;
    margin-bottom: 10px !important;

  }
  .staff-list-btn {
    float: left !important;
    button {
      float: left !important;
      margin: 10px !important;
    }
  }
  .manage-visitor-float {
    float: right !important;
  }
  .manage-visitor-margin {
    .subsidiary-box {
      margin-top: 10px !important;
      margin-bottom: 0 !important;
    }
  }
  .prepare-form-head {
    h1 {
      float: right !important;
      font-family: Yekan !important;
    }
  }

  .visitor-list-float {
    float: right !important;
    input {
      float: right !important;
    }
    option {
      float: right !important;
    }
    .error-message-display {
      float: left !important;
    }
  }
  .visitor-input-name {
    direction: rtl !important;
  }
  .visitor-list-btn {
    float: left !important;
    .visitor-list-btn-float {
      float: left !important;
    }
  }

  .manage-zone-input-float {
    float: right !important;
  }
  .zone-list-float {

    label, select {
      float: right !important;
    }
    select {
      direction: rtl !important;
    }
    option {
      direction: rtl !important;
    }
    input {
      direction: rtl !important;
    }
  }

  .requirement-margin {
    margin-bottom: 30px !important;
  }

  .zone-list-btn {
    float: left !important;
    .col-lg-6 {
      float: left !important;
    }
  }
  .zone-list-btn-float {
    float: left !important;
  }

  .font-edit {
    font-family: yekan !important;
  }
  .manage-zone-edit-margin {
    margin-right: 3px !important;
  }
  // ----------------  SFMS  -----------------------

  .padding-right-farsi {
    padding-right: -10px !important;
  }
  .safety-margin-right {
    margin-right: 80px !important;
  }
  .templateTwo-wrapper {
    .module-box {
      li {
        font-family: Yekan !important;
        margin-bottom: 3px !important;
      }
      p.attention {
        font-family: Yekan !important;
      }
    }
  }

  .module-box {
    img {
      float: left !important;
      right: 0 !important;
    }
  }

  .emergency-width {
    width: 43% !important;
  }
  .pgs {
    padding: 10px !important;
    float: left !important;
    margin-left: 7vw !important;
  }
  .section {
    .left-section {
      padding-left: 2.6vw !important;
    }
    p {
      padding-right: 5.3vw !important;
    }
  }

  .turn-btn-float {
    right: 7vw !important;
  }
  .panic-float {
    margin-left: 40% !important;
  }
  .radios {
    input {
      width: 1vw !important;
      height: 1vw !important;
      margin: 1.4vw -1vw 0 !important;
    }
  }

  .radio-container {
    font-family: Yekan !important;
  }

  .statuses {
    span, button {
      font-family: Yekan !important;
    }
  }
  .safety-turn-btn {
    font-family: Yekan !important;

  }
  .btn-block {
    font-family: Yekan !important;
  }
  //  --------------------------------  SK  ----------------------------------
  .sk-manage-float {
    float: right !important;
  }
  .sk-page-float {
    float: left !important;
    margin-left: 17% !important;
  }
  .sk-form {
    float: right !important;
    label {
      right: 0 !important;
    }
    input {
      direction: rtl !important;
      float: right !important;
    }
    select {
      direction: rtl !important;
      float: right !important;
    }
  }
  .sk-form-btn {
    float: left !important;
    .form-button-submit {
      float: left !important;
      margin-right: 0.5vw !important;;
    }
    .form-button-cancel {
      float: left !important;
    }
  }

  //  ----------------  HOMS  -----------------

  .management-date-bnt {
    input {
      direction: ltr !important;
    }
    button {

    }

  }

  .management-float-right {
    right: -15vw !important;
    float: right !important;
  }

  .add-menu-cal-from-date, .add-menu-cal-to-date {
    input, span {
      float: right !important;
    }
    input {
      direction: ltr !important;
    }
    button {
      right: -15vw !important;
    }
    right: -10vw !important;
  }
  .planner-inputs {
    right: -3.5vw !important;
  }

  .planner-add-btn {
    top: -1vw !important;
  }
  .add-menu-cal-to-date {
    button {
      margin-top: 1.5vw !important;
    }
  }
  .planner-textarea {
    right: -1vw !important;
  }
  .view-order-header {
    width: 100% !important;
  }

  .order-list-table-float {
    left: 25% !important;
  }
  .add-order-field-move {
    left: 20px !important;
  }
  .order-comments-move {
    left: 10px !important;
    margin-top: 60px !important;
  }
  .view-order-header {
    font-family: Yekan !important;
  }
  // --------- AMS  -----------------

  .add-work-float {
    left: 7vw !important;
  }
  .cal-icon-float {
    right: 1vw !important;
  }
  .add-work-date-move {
    right: -1vw !important;
  }

  .input-date-dir {
    input {
      direction: ltr !important;
    }
  }

  .leave-modal {
    select, option {
      direction: rtl !important;
    }
  }
  .apply-move {
    left: 50px !important;
  }

  .apply-form-group {
    button {
      top: 34px !important;
    }
  }
  .time-solid {
    font-size: 1.2vw !important;
  }
  .holiday-header {
    font-family: Yekan !important;
  }

  .ams-time {
    top: 40px !important;
    right: -45px !important;
    z-index: 100;
  }

  // --------- CALL ---------------
  .call-pop {
    span {
      font-family: Yekan !important;
    }
  }
  .call-btn-margin {
    margin-left: 5px !important;
  }
  // OMS amir
  .oms-allocated-move {
    margin-right: 12px !important;
  }

  //  -------------- SUBSIDIARIES -----------------

  .width-controller-campus {
    max-width: 120px !important;
  }
  .width-controller {
    max-width: 55px !important;
  }
  .width-controller-email {
    max-width: 35px !important;
    margin-left: 5px !important;
  }

  // ------------- SP -------- add scenario edit

  .add-scenario-margin {
    margin-bottom: 30px !important;
  }
  .lnr-config {
    width: 30% !important;
    float: right !important;
    margin-right: 20px;
  }
  select {
    height: 40px;
  }
  //  END
  .upload-button{
    float: left!important;
    margin-left: 44px!important;
  }
}
