<div class="page-wrapper ">
	<div class="bg-img">

		<div class="page-overlay-wrapper reset-pass-back">
			<div class="page-overlay">
				<div class=logo-wrapper>
					<div class="logo"><img src="../../assets/images/logo.png" alt="logo" /></div>
				</div>
				<div class="rp-form-wrapper">
					<div class="rp-form">
						<form #resetpasswordform="ngForm" autocomplete="off" novalidate="" (ngSubmit)="resetPassword()">
							<div class="set-new-password-body">
								<div class="set-new-password">
									<span>SET NEW PASSCODE</span>
									<input type="password" name="newpasscode" #newPassword="ngModel" [(ngModel)]="resetPasswordData.newPassword" required="true" minlength="4" maxlength="4" (ngModelChange)="checkPasscode(resetPasswordData.newPassword,resetPasswordData.confirmPassword)">
									<div class="error-message-display">
										<div [hidden]="newPassword.valid || newPassword.untouched">
											<div *ngIf="newPassword.errors && newPassword.errors.required">
												Set New Passcode is required
											</div>
										</div>
										<div [hidden]="newPassword.valid || newPassword.untouched">
                                            <div *ngIf="newPassword.errors && newPassword.errors.minlength">
												Passcode should be 4 characters
                                            </div>
										</div>
									</div>
								</div>
								<div class="confirm-password">
									<span>CONFIRM PASSCODE</span>
									<input type="password" name="confPasscode" #confirmPassword="ngModel" [(ngModel)]="resetPasswordData.confirmPassword" required="true" minlength="4" maxlength="4" (ngModelChange)="checkPasscode(resetPasswordData.newPassword,resetPasswordData.confirmPassword)">
									<div class="error-message-display">
										<div [hidden]="confirmPassword.valid || confirmPassword.untouched">
											<div *ngIf="confirmPassword.errors && confirmPassword.errors.required">
												Confirm Passcode is required
											</div>
										</div>
										<div [hidden]="confirmPassword.valid || confirmPassword.untouched">
                                            <div *ngIf="confirmPassword.errors && confirmPassword.errors.minlength">
                                                Passcode should be 4 characters
                                            </div>
										</div>
										<div *ngIf="passCodeCheck">
											Passcode is not matching
										</div>
									</div>
								</div>
                                <div class="enter-otp">
									<span>ENTER OTP</span>
									<input id="partitioned" type="password" name="otp" #otpEle #otp="ngModel" [(ngModel)]="resetPasswordData.otp" required="true" minlength="4" maxlength="4" (ngModelChange)="checkOTPChar(resetPasswordData.otp,otpEle)" onpaste="return false" />
									<div class="error-message-display">
										<div [hidden]="otp.valid || otp.untouched">
											<div *ngIf="otp.errors && otp.errors.required">
												OTP is required
											</div>
										</div>
										<div [hidden]="otp.valid || otp.untouched">
											<div *ngIf="otp.errors && otp.errors.minlength">
												OTP requires 4 characters
											</div>
										</div>
									</div>
									<span class="note">We have sent the OTP to your registered e-mail id, kindly enter the OTP</span>
								</div>
							</div>
							<button class="submit-button" #submit type="submit" [disabled]="!resetpasswordform.valid || passCodeCheck">Submit</button>
						</form>
						<div class="clearfix"></div>
						<div class="alert alert-danger mt-30" id="errorBox" style="display:none;">
							<strong>PLEASE ENTER CORRECT OTP</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>