<div class="row">
    <div class="col-xs-12">
        <div class="prepare-form">
            <div class="prepare-form-head">
                <span></span>
                <h2>VIEW ORDER</h2>
            </div>
            <div class="clear"></div>
            <div class="prepare-form-body">
                <form >
                   
                      
                    <div class="col-sm-12 text-center texts">
                        <h4>RESERVED FOR :</h4> <span>RAVI KUMAR</span><br>
                        <h4>CONTACT NUMBER :</h4> <span>12374567890</span><br>
                        <h4>FROM TIME :</h4> <span>12/01/2018</span><br>
                        <h4>END TIME :</h4> <span>12/01/2018</span>

                
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                            <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        
                                        <th class="col-sm-12" colspan="2">MENU</th>
                                        
                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td class="col-sm-6">RICE</td>
                                        <td class="col-sm-6">30 NO</td>
                                      </tr>
                                      <tr>
                                            <td class="col-sm-6">DRINK</td>
                                            <td class="col-sm-6">02 NO</td>
                                          </tr>
                                          <tr>
                                                <td class="col-sm-6">LENTIL SOUP</td>
                                                <td class="col-sm-6">03 NO</td>
                                              </tr>
                                      
                                              <tr>
                                                    <td class="col-sm-6">CHICKEN KABAB</td>
                                                    <td class="col-sm-6">03 NO</td>
                                                  </tr>
                                      
                                                  <tr>
                                                        <td class="col-sm-6">CHICKEN KABAB</td>
                                                        <td class="col-sm-6">03 NO</td>
                                                      </tr>
                                                      
                                      
                                      
                                      
                                      
                                    </tbody>
                                  </table>
                    </div>

                    
                    <div class="clearfix"></div>
                    
                    
                        <div class="clearfix"></div>
                        <div class="form-footer" style="margin-top: 2%">
                                
                                <button class="form-button-cancel pull-right" type="button" (click)="closeModal()" >cancel</button>
                                <div class="clear"></div>
                            </div>
                        
                      <!--   <div class="row">
                                <div class="col-sm-12 text-right">
                                  <button class="form-button-submit floating-bnt" tabindex="5" [disabled]="(createAccessZoneForm.form.invalid) ">execute</button>
                                  <button class="form-button-cancel floating-bnt" type="button" (click)="closeModal()" tabindex="4">cancel</button>
                                </div>
                              </div> -->
                </form>
            </div>
            <div class="powered-by">
                <img src="../../../../../assets/images/logo.png" />
                
            </div>
        </div>
    </div>
</div>