<div class="row" style="margin-right: 0px;margin-left: 0px;">
    <div class="col-sm-12 ">
        <div class="row" style="margin-bottom: -10px;">
            <div class="col-sm-12">
                <div class="col-sm-2 filter-elements">
                    <p><span class="staff-header">{{'SEMS.campus' | translate}}</span></p>
                    <select name="selectedCampus" #selectedCampus="ngModel" [style.font-family]="appService.currentLang=='fa'?'Yekan':'tw-regular'"
                            [(ngModel)]="selectedCampusId"
                            aria-placeholder="Campus" required (ngModelChange)="getAllBuildings($event)">
                        <option value="0" >{{'SELECT.select-campus' | translate}}</option>
                        <option *ngFor="let campus of campusDropdownList;" [ngValue]="campus.id">
                            <p *ngIf="appService.currentLang=='en'">{{campus.name.map.en}}</p>
                            <p *ngIf="appService.currentLang=='fa'">{{campus.name.map.fa}}</p>
                        </option>
                    </select>

                </div>
                <div class="col-sm-2 filter-elements">
                    <p><span class="staff-header">{{'SEMS.building' | translate}}</span></p>
                    <select name="selectedBuilding" #selectedBuilding="ngModel" [style.font-family]="appService.currentLang=='fa'?'Yekan':'tw-regular'"
                            [(ngModel)]="selectedBuildingId"
                            aria-placeholder="building / structure" required (ngModelChange)="getAllFloors($event)">
                        <option value="0" >{{'SELECT.select-building' | translate}}</option>
                        <option *ngFor="let building of buildingDropdownList;" [ngValue]="building.id">
                            <p *ngIf="appService.currentLang=='en'">{{building.name.map.en}}</p>
                            <p *ngIf="appService.currentLang=='fa'">{{building.name.map.fa}}</p>
                        </option>
                    </select>

                </div>
                <div class="col-sm-2 filter-elements">
                    <p><span class="staff-header">{{'SEMS.floor-level' | translate}}</span></p>
                    <select name="selectedFloor" #selectedFloor="ngModel" [style.font-family]="appService.currentLang=='fa'?'Yekan':'tw-regular'"
                            [(ngModel)]="selectedFloorId"
                            aria-placeholder="Select a Level / Floor" required  >
                        <option value="0" >{{'SELECT.select-floor' | translate}}</option>
                        <option *ngFor="let floor of floorDropdownList;" [ngValue]="floor.id">
                            <p *ngIf="appService.currentLang=='en'">{{floor.levelName.map.en}}</p>
                            <p *ngIf="appService.currentLang=='fa'">{{floor.levelName.map.fa}}</p>
                        </option>
                    </select>

                </div>
                <div class="col-sm-2 filter-elements">
                    <p><span class="staff-header">{{'SEMS.working-status' | translate}}</span></p>
                    <select name="selectedArea" #selectedArea="ngModel" [style.font-family]="appService.currentLang=='fa'?'Yekan':'tw-regular'"
                            [(ngModel)]="selectedAreaId"
                            placeholder="Select a working status" required>
                        <option value="0" >{{'SELECT.select-working-status' | translate}}</option>

                        <option [ngValue]="1">{{'SELECT.in-service' | translate}}</option>
                        <option [ngValue]="2">{{'SELECT.out-of-service' | translate}}</option>
                        <option [ngValue]="3">{{'SELECT.all' | translate}}</option>
                    </select>

                </div>
                <div class="col-sm-2 filter-elements">
                    <p><span class="staff-header">&nbsp;</span></p>
                    <div class="filter-area">
                        <button class="execute-btn execute-btn-search" (click)="getHvacList()">{{'shared.execute' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" *ngIf="totalElements > size" >
            <div class="col-sm-12" >
                <div class="">
                    <div class="filter">
                        <div class="pagers">
                            <ul>
                                <li>
                                    <i class="glyphicon glyphicon-menu-left-d filter-icon" (click)="setPage('first')" ></i>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-menu-left filter-icon"  (click)="setPage('previous')"></i>
                                </li>
                                <li class="filter-int">
                                    <span>{{page+1}}</span>
                                    <span>-</span>
                                    <span>{{totalPages}}</span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-menu-right filter-icon" (click)="setPage('next')"></i>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-menu-right-d filter-icon" (click)="setPage('last')" ></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-sm-12" *ngFor="let hvac of showList; let i = index">
            <div class="subsidiary-box mitoconnect-ui-listing-grid">
                <div class="fs-23 staff-header">
                    <span>{{i + 1}}</span>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-2  inline-elements">
                            <span style="width: 100%!important;">{{'SEMS.name' | translate}}</span>
                            <p>{{hvac.devicename}}</p>
                        </div>
                        <div class="col-sm-2 inline-elements">
                            <span>{{'SEMS.appliance-name' | translate}}</span>
                            <p>{{hvac.devicetype}}</p>
                        </div>
                        <div class="col-sm-2 inline-elements" *ngIf="hvac.devicestatus=='In Service'">
                            <span style="width: 100%!important;">{{'SEMS.working-status' | translate}}</span>
                            <span class="status-success" style=" color: #009d56 !important;">{{hvac.devicestatus}}</span>
                            <!-- <p class="status-fail">FAULTY</p> -->
                        </div>
                        <div class="col-sm-2 inline-elements" *ngIf="hvac.devicestatus=='Out Of Service'">
                            <span style="width: 100%!important;">{{'SEMS.working-status' | translate}}</span>
                            <span class="status-fail" style=" color: #f00 !important;">{{hvac.devicestatus}}</span>
                            <!-- <p class="status-fail">FAULTY</p> -->
                        </div>

                        <div class="col-sm-2  inline-elements" *ngIf="hvac.deviceworkingstate=='1'">
                            <span style="width: 100%!important;">{{'SEMS.status' | translate}}</span>
                            <span class="status-success" style=" color: #009d56 !important;">{{'SEMS.on' | translate}}</span>
                            <!-- <p>{{staff.cardNumber }}</p> -->
                        </div>
                        <div class="col-sm-2  inline-elements" *ngIf="hvac.deviceworkingstate!='1'">
                            <span style="width: 100%!important;">{{'SEMS.status' | translate}}</span>
                            <span class="status-fail" style=" color: #f00 !important;">{{'SEMS.off' | translate}}</span>
                            <!-- <p>{{staff.cardNumber }}</p> -->
                        </div>
                        <div class="col-sm-2  inline-elements" >
                            <img *ngIf="hvac.isProcessing" src="../../../../../assets/images/processing.svg" style="height: 50px" />
                        </div>
                        <div class="col-sm-2  inline-elements" *ngIf="hvac.deviceworkingstate=='1'" style="width: 12%;margin-top: 10px">

                            <button [disabled]="hvac.isProcessing" *ngIf="appService.hasAccessToWrite(9,26)" class="manage-btn pull-right" style="width: 100%" (click)="toggleButton(i)">{{'SEMS.switch-off' | translate}}</button>

                        </div>
                        <div class="col-sm-2 inline-elements" *ngIf="hvac.deviceworkingstate!='1'" style="width: 12%;margin-top: 10px">

                            <button [disabled]="hvac.isProcessing" *ngIf="appService.hasAccessToWrite(9,26)" class="manage-btn pull-right" (click)="toggleButton(i)" style="width: 100%">{{'SEMS.switch-on' | translate}}</button>

                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>
  
