<div class="row" style=" margin-left: 0;
    margin-right: 0;">
    <div class="col-sm-4 input1 filter-elements">
        <p><span class="staff-header">{{'SPAS.access-group' | translate}}</span></p>
        <div>
            <input name="search" [placeholder]="'SPAS.access-group' | translate" [(ngModel)]="workGroupName"
                   required class="dob-field">
        </div>
    </div>
    <div class="col-md-4 filter-elements">
        <div class="form-group">
            <p><span class="staff-header">{{'SELECT.select-access-group'|translate}}</span></p>
            <select class="visitor-input-name" style="margin-top: 0px!important;"
                    [style.font-family]="appService.currentLang=='fa'?'Yekan':'tw-regular'"
                    name="selectedAccessGroup" #selectedAccessGroup="ngModel"
                    [(ngModel)]="selectedAccessGroupId"
                    required>
                <option value="0"  >{{'SELECT.all'|translate}}</option>
                <option *ngFor="let accessGroup of accessGroups;" [ngValue]="accessGroup.id">
                    <p *ngIf="appService.currentLang=='en'">{{accessGroup?.name?.map?.en}}</p>
                    <p *ngIf="appService.currentLang=='fa'">{{accessGroup.name?.map?.fa}}</p>
                </option>
            </select>
        </div>
    </div>
    <div class="col-sm-3 filter-elements">
        <p><span class="staff-header">&nbsp;</span></p>
        <div class="filter-area">
            <button class="execute-btn execute-btn-search" (click)="getAllWorkGroups()">{{'shared.execute'|translate}}</button>
        </div>
    </div>
    <div class="row" *ngIf="totalRecordsCount > perPage">
        <div class="col-sm-12">
            <div class="">
                <div class="filter">
                    <div class="pagers">
                        <ul>
                            <li>
                                <i class="glyphicon glyphicon-menu-left-d filter-icon"
                                   (click)="setPage('first')"></i>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-menu-left filter-icon"
                                   (click)="setPage('previous')"></i>
                            </li>
                            <li class="filter-int">
                                <span>{{page+1}}</span>
                                <span>-</span>
                                <span>{{totalPages}}</span>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-menu-right filter-icon" (click)="setPage('next')"></i>
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-menu-right-d filter-icon"
                                   (click)="setPage('last')"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix" style="margin-bottom: 10px;"></div>
    <div class="col-md-12 manage-visitor-margin" *ngFor="let workGroup of workGroups; let i = index"
         style="margin-right: 0;margin-left: 0 ; margin-top: 5px">
        <div class="subsidiary-box mitoconnect-ui-listing-grid">
            <div class="clearfix"></div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2 inline-elements" >
                        <span>{{'SPAS.work-group'|translate}}</span>
                        <p *ngIf="appService?.currentLang=='en'">{{workGroup?.name?.map?.en}}</p>
                        <p *ngIf="appService?.currentLang=='fa'" style="font-family: Yekan!important;" >{{workGroup?.name?.map?.fa}}</p>
                    </div>
                    <div class="col-md-2 inline-elements" >
                        <span>{{'SPAS.access-group'|translate}}</span>
                        <p *ngIf="appService?.currentLang=='en'">{{workGroup?.accessElement?.name?.map?.en}}</p>
                        <p *ngIf="appService?.currentLang=='fa'" style="font-family: Yekan!important;" >{{workGroup?.accessElement?.name?.map?.fa}}</p>
                    </div>
                    <div class="col-md-2 inline-elements">
                        <span>{{'AMS.start-date'|translate}}</span>
                        <p *ngIf="appService.currentCalendar=='jalali'">{{workGroup?.startDateJ}}</p>
                        <p *ngIf="appService.currentCalendar=='gregorian'">{{workGroup?.startDate}}</p>

                    </div>
                    <div class="col-md-2 inline-elements">
                        <span>{{'AMS.end-date'|translate}}</span>
                        <p  *ngIf="appService.currentCalendar=='jalali'">{{workGroup?.endDateJ}}</p>
                        <p  *ngIf="appService.currentCalendar=='gregorian'">{{workGroup?.endDate}}</p>
                    </div>
                    <div class="col-md-4 inline-elements">
                        <div class="col-md-6">
                            <button style="width: 100%!important;"  class="manage-btn pull-right" (click)="deleteVisitorAccess(workGroup)"
                                     *ngIf="appService.hasAccessToWrite(3,9)">{{'shared.delete' | translate}}
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button style="width: 100%!important;"  class="manage-btn pull-right" (click)="editWorkGroup(workGroup)"
                                     *ngIf="appService.hasAccessToWrite(3,9)">{{'shared.edit'|translate}}
                            </button>
                        </div>


                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="clearfix"></div>

        </div>
    </div>

</div>
  