<div class="commom-area-container">
    <div class="row">
        <div class="col-md-12">
            <div class="common-area-head">
                <span>common area groups </span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="common-area-view-container">
                <ul>
                    <li class="single-common-area-group" (click)="showTooltip($event)">
                        <span>Common Group 01 . G1</span>
                    </li>
                    <li class="single-common-area-group" (click)="showTooltip($event)">
                        <span>Common Group 01 . G1</span>
                    </li>
                    <li class="single-common-area-group" (click)="showTooltip($event)">
                        <span>Common Group 01 . G1</span>
                    </li>
                    <li class="single-common-area-group" (click)="showTooltip($event)">
                        <span>Common Group 01 . G1</span>
                    </li>
                    <li class="single-common-area-group" (click)="showTooltip($event)">
                        <span>Common Group 01 . G1</span>
                    </li>
                    <li class="single-common-area-group" (click)="showTooltip($event)">
                        <span>Common Group 01 . G1</span>
                    </li>
                    <li class="single-common-area-group" (click)="showTooltip($event)">
                        <span>Common Group 01 . G1</span>
                    </li>
                    <li class="single-common-area-group" (click)="showTooltip($event)">
                        <span>Common Group 01 . G1</span>
                    </li>
                </ul>
                <!-- <tooltip-content #myTooltip>
                    <div class="popup-conatiner">
                      
                        <div class="popup-head">
                            <span>Areas</span>
                        </div>
                      
                        <div class="clearfix"></div>
                        <div class="area-container">
                            <ul>
                                <li class="single-area-container">
                                    <span>c1/b1/f4/ Conference room.A1</span>
                                </li>
                                <li class="single-area-container">
                                    <span>c1/b1/f4/ Conference room.A1</span>
                                </li>
                                <li class="single-area-container">
                                    <span>c1/b1/f4/ Conference room.A1</span>
                                </li>
                                <li class="single-area-container">
                                    <span>c1/b1/f4/ Conference room.A1</span>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="action-button-container">
                            <button type="button" class="execute-btn exe-sm">edit</button>
                            <button type="button" class="execute-btn exe-sm">delete</button>
                        </div>
                    </div>
                </tooltip-content> -->
                <div class="arrow-div" [style.left]="tipX+'px'" [style.top]="tipY+'px'">
                    <div class="popup-conatiner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="popup-head">
                                    <span>Areas</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="area-container">
                            <ul>
                                <li class="single-area-container">
                                    <span>c1/b1/f4/ Conference room.A1</span>
                                </li>
                                <li class="single-area-container">
                                    <span>c1/b1/f4/ Conference room.A1</span>
                                </li>
                                <li class="single-area-container">
                                    <span>c1/b1/f4/ Conference room.A1</span>
                                </li>
                                <li class="single-area-container">
                                    <span>c1/b1/f4/ Conference room.A1</span>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="action-button-container">
                            <button type="button" class="execute-btn exe-sm">edit</button>
                            <button type="button" class="execute-btn exe-sm">delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>