<div [style.height]="height-152+'px'" >
    <div class="row  box"  style="margin: 0px!important;"  >
        <div class="col-lg-6" style="float: right;padding: 10px">

            <img src="../../../assets/images/mitologo.png" height="50" style="float: right"/></div>
        <div class="col-lg-6" style="float: left ;padding: 10px">

            <img src="../../../assets/images/dashboard/logo-raahbord.png" height="50" width="255" style="float: left"/>
        </div>
    </div>
    <div class="page-wrapper container">

        <div class="maintenance-error-message-container" style="position: relative">
            <div class="danger" style="align-items: center;display: flex;text-align: center" >

                <img src="../../../assets/images/attention.png" width="150" style="margin-left: 2px;margin-bottom: 35px;"/></div>
            <p class="maintenance-error-message" style="    margin: 10px 10px 10px;">{{errorMessage}}</p>
            <div class="timer" >
                <div class="row" style="position: absolute;top: 50%;left: 50%;transform: translate(-40%, -50%);width: 100%">
                    <div class="col-lg-3" style="float: left;padding: 0px">
                        <h1 style="color: #cf0d01;font-size: 48px!important;">{{Hour}}</h1>
                    </div>
                    <div class="col-lg-1" style="float: left;padding: 0px">
                        <h1 style="color: #f9961e;font-size: 48px!important;">:</h1>
                    </div>
                    <div class="col-lg-3" style="float: left;padding: 0px">
                        <h1 style="color: #cf0d01;font-size: 48px!important;">{{Minute}}</h1>
                    </div>
                    <div class="col-lg-1" style="float: left;padding: 0px">
                        <h1 style="color: #f9961e;font-size: 48px!important;">:</h1>
                    </div>
                    <div class="col-lg-3" style="float: left;padding: 0px">
                        <h1 style="color: #cf0d01;font-size: 48px!important;">{{Second}}</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row  box"  style="margin: 0px!important;" >
        <div class="col-lg-12" style="text-align: center;padding: 10px">

            <img src="../../../assets/images/logo.png" height="50" /></div>

    </div>
</div>