@import '../../../../OMS';
.prepare-form {
    background: none;
    text-transform: uppercase;
    border: none;
    padding: 0 70px 70px;
    position: relative;
}

.previous-icon {
    top: 120px !important;
    left: -18px !important;    
}
.grade-policy-main-container {
    min-height: 25vh;
}
.bottom-buttons-div{
    margin: 15px 0;
}