<div class="row">
  <div class="col-xs-12">
    <div class="prepare-form">
      <div class="prepare-form-body">
        <h1 class="text-center delete-confirm">{{'shared.delete-confirm'|translate}}</h1>
        <div class="clearfix"></div>
        <div class="form-footer" style="margin-top: 20px">
            <button type="button" class="move-far-away" style="display:block;"></button>
            <button class="form-button-cancel pull-left" type="button"(click)="closeModal()">{{'shared.no'|translate}}</button>
            <button class="form-button-submit pull-right" type="button" (click)="deleteData()">{{'shared.yes'|translate}}</button>
            <div class="clear"></div>
          </div>
      </div>
      <div class="powered-by">
          <img *ngIf="!appService.lightThemeC" src="../../../../../assets/images/logo.png" />
          <img *ngIf="appService.lightThemeC" src="../../../../../assets/images/logo2.png" />
      </div>
    </div>
  </div>
</div>