@import '../../AMS';
.policy-container{
    min-height: 8vw;
    
    padding: 0.2vw 0.5vw;
    background: #0a2347;
    text-transform: uppercase;
    border: 1px solid #333;
    span {
        font-size: 1vw;
        display: block;
        color: #fff;
        padding: 0.2vw 0.5vw;
    }
}
.policy-container1{
    min-height: 5vw;
    
    padding: 0.2vw 0.5vw;
    background: #0a2347;
    text-transform: uppercase;
    border: 1px solid #333;
    
}

@media screen and (min-width: 1024px){
    .policy-container1{
        min-height: 5.2vw;
    }
}
@media screen and (max-width: 1024px){
    .policy-container1{
        min-height: 5.1vw;
    }
}
